.forgot-password>p {
  text-align: center;
  color: #007BFF;
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password-menu-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-menu {
  background-color: white;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  animation: fall 2s ease-out forwards;
}

.typing-text {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;
  text-align: center;
}

.forgot-password-info {
  text-align: center;
}
.forgot-password-button{
  border: none;
  margin-top: 20px;
  color: #007BFF;
}

@keyframes fall {
  0% {
    transform: translateY(-50vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}